<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CommuteEvent.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0C7F501D1BB4858A009EE477</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C7F50321BB4858B009EE477</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C90AC641BF5272D00769946</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
